.left_column {
	flex: 0 0 33.33333%; 
}

.right_column { 
	flex: 0 0 66.6666%;
}

.container_details { 
	padding-top: 15px;
	color: black;
	display: flex;
}

.answer_box .left_column  {
	flex: 0 0 20%; 
}

.answer_box .right_column {
	flex: 0 0 80%; 
}

.is-winner-true {
	background-color: #00bb0e;
	width: 8px;
	margin-right: 15px;
}

.is-winner-false {
	width: 8px;
	margin-right: 15px;
}

.answer_box {
	display: flex;
	width: 100%; 
}

.tapioca-title {
	font-family: 'Montserrat', sans-serif; 
	font-weight: 700;
	font-size: 50px;
	padding-top: 10px;
}

body {
	font-family: 'Open Sans', sans-serif;
}