body {
  color: #fff;
  font: 16px/1.5 "Cabin", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  background: #ecf0f1;
}

p {
  color:#000;
}

#claire {
  color: #FFFFFF;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  font-family: "Parisienne", Cambria, Georgia, Serif;
}

header {
  min-width: 960px;
  background-color: #3776d1;
  padding: 20px 0 15px;
  overflow: hidden;
}

header h1 {
  float: left;
}

header h1 i.fa {
  font-size: 24px;
  padding-right: 5px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

#search {
  float: right;
  overflow: hidden;
}

#search-bar {
  overflow: hidden;
}

#search input {
  float: left;
  border: none;
  padding: 7px 10px;
  width: 480px;
  background: #f6f6f6;
  outline: none;
  color: #555;
  margin: 5px 0;
}

#search span {
  margin: 0;
  line-height: 32px;
  font-size: 16px;
}

#search .loading-icon {
  display: none;
  float: left;
  padding: 5px 0 0 5px;
}

#search.loading .loading-icon {
  display: block;
}

#search button {
  float: left;
  border: none;
  background: transparent;
  padding: 11px 0 0 7px;
  color: #fff;
  outline: none;
}

#search.loading button {
  display: none;
}

#search-results {
  width: 500px;
}

#search-results .result {
  overflow: hidden;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 15px;
}

#search-results .result:hover {
  background: #3366bb;
}

#search-results img {
  width: 32px;
  float: left;
  padding-right: 7px;
}

.meta {
  color: #000;
}

#questions_list {
  list-style-type: none;
}

.meta { 
  display: flex;
}

.left_title {
  display: inline-block;
  padding: 5px;
  margin: 10px 20px;
  flex: 0 0 20%; 
}

.right_title {
  display: inline-block;
  padding: 5px;
  margin: 10px 20px;
  flex: 0 0 80%; 
}

.left_answer {
  display: inline-block;
  padding: 5px;
  margin: 10px 20px;
}

.right_answer {
  display: inline-block;
  padding: 5px;
  margin: 10px 20px;
}

      .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      /* Modal Content */
      .add_content {
          color: black;
          background-color: #fefefe;
          margin: auto;
          padding: 50px;
          border: 1px solid #888;
          width: 80%;
      }
      span.textfield {
        display: block;
        overflow: hidden;
      }

      /* The Close Button */
      .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
      }

      .close:hover,
      .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
      }

      .popuptext {
        display: none;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;

        position:absolute;
        top:50%;
        left:50%;
        width:400px;  /* adjust as per your needs */
        height:40px;   /* adjust as per your needs */
        margin-left:-200px;   /* negative half of width above */
        margin-top:-20px;   /* negative half of height above */
      }